header {
    background-color: #333;
    padding: 1px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  body {
    background-color: darksalmon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  h1 {
    font-size: 4em;
    color: #333;
  }
  
  .icon-placeholder {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 85%;
    transform: translateX(-50%);
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 0.5px;
    text-align: center;
  }
  
   /* Dropdown Button */
   .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 30px 35px;
    text-decoration: none;
    display:inline-block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color:rgb(78, 3, 38);
  }
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {
    display:inline;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color:antiquewhite;
  }
  
  /* Styling for Slideshow */
  .slideshow {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .slide {
    width: 50%;
    height: auto;
    transition: transform 0.5s ease; /* Smooth transition effect */
  }
  
  /* Slide animation */
  @keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
  /* Apply slide animation to each image */
  .slide:nth-child(1) {
    animation: slide 5s infinite alternate;
  }
  .slide:nth-child(2) {
    animation: slide 5s infinite alternate 1s;
  }
  .slide:nth-child(3) {
    animation: slide 5s infinite alternate 2s;
  }
  .slide:nth-child(4) {
    animation: slide 5s infinite alternate 3s;
  }